@charset "utf-8";

#picture{
 width:90%;
 margin-left: 6%;
 margin-top: 8%;
}
#picture1{
 width:30%;
 margin-left: 5%;
}

#picture2{
 width:90%;
 margin-left: 5%;
}
footer {
  border-top: solid 1px #00944A;
  background-color: #F4FFED;
}
#footer-inner {
  background: none;
}
#video{
 margin-left: 10%;
}
#music{
 margin-top: -8%;
}